.App {
  text-align: center;
  align-items: center;
  background-image: url(universe.jpg);
  color: white;
  padding-top: 6px;
  padding-bottom: 100px;
}

h1.title {
  margin-top: 50px;
  color: white;
}

.text-area {
  /* background-color: aqua; */
  padding: 10px;
  border: 2px solid !important;
  background-color: black;
  color: white;
  line-height: 0px;
  width: 800px;
  height: 560px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.word {
  font-size: 8px;
  width: 8px;
  height: 8px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  line-height: 100%; /*줄간격*/
}
